<div class="avatar-uploader">
    {{#if uploadForm}}
        <form class="form">
            <div class="avatar-uploader__form">
                <label class="input-file">
                    <input type="file" name="file">
                    <span>Select file</span>
                </label>

            </div>
            {{{ uploadButton }}} {{{ cancelButton }}}
        </form>
    {{else}}
        <a href="/chat/profile/avatar">
        <div class="avatar-uploader__button"{{#if currentAvatar}}style="background-image: url('{{{ currentAvatar }}}');"{{/if}} title="Upload avatar">
            <div class="avatar-uploader__icon">
                {{{ uploadIcon }}}
            </div>
        </div>
    </a>
    {{/if}}
</div>
