<button
    class="{{{classes}}}"
    {{#if id}}
        id="{{{ id }}}"
    {{/if}}
    {{#if type}}
        type="{{{ type }}}"
    {{/if}}
>
    {{#if icon}}
        {{{ buttonIcon }}}
    {{else}}
        {{{ buttonLabel }}}
    {{/if}}
</button>
