<button
    class="{{#if icon}}button-icon{{else}}button{{/if}}"
    {{#if id}}
        id="{{{ id }}}"
    {{/if}}
    {{#if type}}
        type="{{{ type }}}"
    {{/if}}
>
    {{#if icon}}
        {{{ buttonIcon }}}
    {{else}}
        {{{ buttonLabel }}}
    {{/if}}
</button>
