<div style="display: contents;">
    <div class="chat-header">
        <div class="chat-header__back" title="Back">
            {{{ chatIconBack }}}
        </div>
        <div class="chat-header__label">
            Profile
        </div>
        <div class="chat-header__logout" title="Sign out">
            {{{iconLogout}}}
        </div>
    </div>
    <div class="form-wrapper">
        <form class="form">
            <h3>Edit profile</h3>
            {{{ avatarUploader }}}
            {{{ emailInput }}}
            {{{ loginInput }}}
            {{{ firstNameInput }}}
            {{{ secondNameInput }}}
            {{{ displayNameInput }}}
            {{{ phoneInput }}}
            {{{ passwordInput }}}
            {{{ repeatPasswordInput }}}
            {{{ submitButton }}}
            {{{ changePasswordLink }}}
        </form>
    </div>
</div>
