<div class="chat-header">
    <div class="chat-header__avatar">
        {{{chatAvatar}}}
    </div>
    <div class="chat-header__title">
        {{{chatTitle}}}
    </div>
    <div class="chat-header__options" title="Options">
        <div class="chat-options__menu">
            {{#each optionsOptions}}
                {{{this}}}
            {{/each}}
        </div>
        {{{optionsIcon}}}
    </div>
</div>
<div class="chat">
    {{#each chat}}
        {{{this}}}
    {{/each}}
</div>
<div class="chat-footer">
    <div class="chat-attach">
        <div class="chat-attach__menu">
            {{#each attachOptions}}
                {{{this}}}
            {{/each}}
        </div>
        {{{attachIcon}}}
    </div>
    <div class="chat-message">
        {{{chatMessage}}}
    </div>
    <div class="chat-send">
        {{{sendIcon}}}
    </div>
</div>
