<div class="chat-header">
    <div class="chat-header__avatar">
        {{{ chatAvatar }}}
    </div>
    <div class="chat-header__title">
        {{{ chatTitle }}}
    </div>
    <div class="chat-header__options" title="Options">
        <div class="chat-options__menu">
            {{#each chatOptions}}
                {{{this}}}
            {{/each}}
        </div>
        {{{ optionsIcon }}}
    </div>
</div>
<div class="chat" id="messages-list">
    {{#each chatMessagesList}}
        {{{ this }}}
    {{/each}}
</div>
<div class="chat-footer">
    <div class="chat-attach">
        <div class="chat-attach__menu">
            {{#each attachOptions}}
                {{{ this }}}
            {{/each}}
        </div>
        {{{ attachIcon }}}
    </div>
    <div class="chat-message">
        {{{ chatSendMessage }}}
    </div>
    <div class="chat-send">
        {{{ sendIcon }}}
    </div>
</div>
