<div class="message {{{ messageType }}}">
    <div class="message__wrapper">
        <div class="message__sender">
            {{ messageSender }}
        </div>
        <div class="message__content">
            {{#if isFile}}
                <div
                    class="image-preview"
                    style="background-image: url('{{ messageContent }}');"
                ><span class="download">[Download]</span></div>
            {{else}}
                {{ messageContent }}
            {{/if}}
        </div>
        <div class="message__time">
            {{{ messageTime }}}
        </div>
    </div>
</div>
