<div class="chat-wrapper">
    <div class="chats-side">
        <div class="chat-header">
            {{{ userAvatar }}}
            <div class="profile-name">{{{ profileName }}}</div>
            <div class="profile-icon" title="Profile">{{{ profileLink }}}</div>
        </div>
        <div class="chat-header">
            {{{ searchIcon }}}
            {{{ searchInput }}}
        </div>
        <div class="chats-list">
            {{{ chatsList }}}
        </div>
    </div>
    <div class="chats-main">
        {{{ currentWindow }}}
    </div>
</div>
