<div class="chat-wrapper">
    <div class="chats-side">
        <div class="chat-header">
            {{{ userAvatar }}}
            <div class="profile-name">{{{ user.first_name }}} {{{ user.second_name }}}</div>
            <div class="profile-icon" title="Profile">{{{ profileIcon }}}</div>
        </div>
        <div class="chat-header">
            {{{ searchIcon }}}
            {{{ searchInput }}}
        </div>
        {{{ logout }}}
        <div class="chats-list">
            {{#each chatsList}}
                {{{ this }}}
            {{/each}}
        </div>
    </div>
    <div class="chats-main">
        {{{ w }}}
    </div>
</div>
