<div class="sign-form">
    {{{ modal }}}
    <form class="form">
        <h3>Sign In</h3>
        {{{ loginInput }}}
        {{{ passwordInput }}}
        {{{ submitButton }}}
        {{{ signUpLink }}}
        {{{ signUpLink2 }}}
        {{{ signUpLink3 }}}
    </form>
</div>
