<div class="sign-form">
    {{{ spinner }}}
    <form class="form">
        <h3>Sign In</h3>
        {{{ loginInput }}}
        {{{ passwordInput }}}
        {{{ submitButton }}}
        {{{ signUpLink }}}
    </form>
</div>
