<div style="display: contents;">
    <div class="chat-header">
        <div class="chat-header__label">
            Profile
        </div>

        <div class="chat-header__logout" title="Sign out">
            {{{iconLogout}}}
        </div>

    </div>
    <div class="form-wrapper">
        <form class="form">
            <h3>Change password</h3>
            {{{ oldPasswordInput }}}
            {{{ newPasswordInput }}}
            {{{ repeatNewPasswordInput }}}
            {{{ submitButton }}}
            {{{ cancelLink }}}
        </form>
    </div>
</div>
