<div class="sign-form">
    <form class="form">
        <h3>Create profile</h3>
        {{{ emailInput }}}
        {{{ loginInput }}}
        {{{ firstNameInput }}}
        {{{ secondNameInput }}}
        {{{ phoneInput }}}
        {{{ passwordInput }}}
        {{{ repeatPasswordInput }}}
        {{{ submitButton }}}
        {{{ signInLink }}}
    </form>
</div>
