<a class="chatlist" href="/chat/view">
    <div class="chat-element">
        <div class="chat-element__element">
            <div class="user-avatar">
                {{{chatUserAvatar}}}
            </div>
            <div class="chat-info">
                <div class="chat-info__row">
                    <div class="user-name">{{{chatUserName}}}</div>
                    {{#if chatNewMessages}}
                        <div class="chat-new-messages">{{{chatNewMessages}}}</div>
                    {{/if}}
                </div>
                <div class="chat-info__row">
                    <div class="last-message">{{{chatLastMessage}}}</div>
                    <div class="last-message-time">{{{chatLastMessageTime}}}</div>
                </div>
            </div>
        </div>
    </div>
</a>
